.mr-left{
    margin-left: 1rem;
}

.pic{
    height: 22rem;
    /* weight: 15rem; */
}

.product-item p.card-text {
    height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.check-cl{
    background-color: #D7E3FC; 
}

.bg{
    background-color: #EDF2FB;
}

