.button{
    justify-content: center;
    align-items: center;
    margin-auto: center;
}

.card-bg {
    background-image: linear-gradient(to right top, #9ed4eb, #9dcdf6, #abc3fb, #c3b6f8, #e0a7e9);
}

#loginbox {
    max-width: 25rem;
}

#signupbox {
    width: 30rem;
    max-width: 35rem;
}